/* Header font text */
@font-face {
   font-family: "MarcellusSC";
   src: url(fonts/MarcellusSC.ttf);
}

/* main font text */
@font-face {
   font-family: "Quicksand";
   src: url(fonts/Quicksand.ttf);
}

/* book font text */
@font-face {
   font-family: "LibreFranklin";
   src: url(fonts/LibreFranklin.ttf);
}

/* colors */
:root {
   --white: #F7F1F0;
   --cream: #E9C1AF;
}

body {
   box-sizing: border-box;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   display: grid;
   grid-template-rows: max(10%, 3em) 1fr;
}

/* Header */
header {
   display: grid;
   background-color: var(--cream);
   justify-content: center;
   align-content: center;
   font-size: 1.25em;
   font-family: "MarcellusSC", Impact, 'Arial Narrow Bold', sans-serif;
}

header h1 {
   margin: 0;
   padding: 0.5em;
}

/* Main */
main {
   display: grid;
}

main table {
   padding: 1em;
   margin: 1em;
   align-self: start;
   border: 1px solid black;
}

i.fa-circle-check {
   color: green;
}

i.fa-circle-xmark, i.fa-trash-can {
   color: red;
}

.main {
   display: grid;
   grid-template-columns: 80% 1fr;
}

.info {
   justify-self: center;
   align-self: center;
   display: grid;
   grid-template-columns: 3fr 1fr;
}

.info > * {
   padding: 0.25em 0.75em;
   font-weight: 600;
}

button.add-book {
   font-size: 1em;
   margin: 1em 0;
   padding: 0.75em 1.5em;
   border-radius: 0.75em;
   width: fit-content;
   height: fit-content;
   justify-self: center;
   align-self: center;
   grid-column: span 2;
   background-color: lightgreen;
}

.count {
   justify-self: center;
   align-self: center;
}

button.delete-all {
  grid-column: span 2;
  padding: 0.75em 1em;
  border-radius: 0.75em;
  background-color: lightcoral;
}

/* Footer */
footer {
   display: grid;
   background-color: var(--cream);
   justify-content: center;
   align-items: center;
}

footer .made-by {
   display: grid;
   grid-template-columns: 4fr 1fr 1fr;
   align-items: center;
   justify-items: center;
}

.made-by p {
   padding: 0 0.2em;
}

/* project-info */
.project-info {
   cursor: pointer;
   justify-self: center;
   margin: 0;
   padding: 1em 0 0.5em 0;
}

.project-info .summary-info {
   visibility: hidden;
   padding: 1em;
   position: absolute;
   background-color: lightblue;
   text-align: center;
   color: black;
   border-radius: 0.5em;
   z-index: 1;
   bottom: 10%;
   right: 22%;
}

.project-info:hover .summary-info {
   visibility: visible;
}

  /* github links */
.fa-github, .fa-code {
   color: #222222;
   font-size: 24px;
   transition: transform 0.4s ease-in-out;
   cursor: default;
}
  
.fa-github:hover{
   transform: rotate(360deg) scale(1.3);
}

.fa-code:hover {
   transform: scale(1.3);
}