/* Header font text */
@font-face {
   font-family: "header";
   src: url(fonts/MarcellusSC.ttf);
}

/* book font text */
@font-face {
   font-family: "book";
   src: url(fonts/Quicksand.ttf);
}

/* main font text */
@font-face {
   font-family: "main";
   src: url(fonts/LibreFranklin.ttf);
}

/* colors */
:root {
   --white: #F7F1F0;
   --cream: #E9C1AF;
}

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

input[type = 'text'],
input[type = 'number'] {
  cursor: text;
}

body {
   box-sizing: border-box;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   display: grid;
   grid-template-rows: max(10%, 3em) 1fr;
}

/* Header */
header {
   display: grid;
   background-color: var(--cream);
   justify-content: center;
   align-content: center;
   font-size: 1.25em;
   font-family: "header", Impact, 'Arial Narrow Bold', sans-serif;
}

header h1 {
   margin: 0;
   padding: 0.5em;
}

/* Main */
main {
   display: grid;
   grid-template-rows: 8% 1fr;
}

main table {
   padding: 1em;
   margin: 1em;
   align-self: start;
   border: 1px solid black;
   font-family: "main", Impact, 'Arial Narrow Bold', sans-serif;
}

i.fa-circle-check {
   color: green;
}

i.fa-circle-xmark, i.fa-trash-can {
   color: red;
}

.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info > * {
   font-weight: 600;
   font-family: "main", Impact, 'Arial Narrow Bold', sans-serif;
}

button.add-book {
   font-size: 1em;
   margin: 1em 0;
   padding: 0.75em 1.5em;
   border-radius: 0.75em;
   width: fit-content;
   height: fit-content;
   background-color: lightgreen;
}

.count {
   justify-self: center;
   align-self: center;
}

button.delete-all {
  padding: 0.75em 1.5em;
  border-radius: 0.75em;
  width: fit-content;
  height: fit-content;
  background-color: lightcoral;
}

.modal {
   display: flex;
   background-color: lightgray;
   border-radius: 1em;
   height: 400px;
   width: 300px;
   position: fixed;
   z-index: 1;
   top: calc(50% - 200px);
   left: calc(50% - 150px);
   font-family: "main", Impact, 'Arial Narrow Bold', sans-serif;
   display: none;
}

.modal.active {
   transform: translate(-50%, -50%) scale(1);
 }

.addBookForm {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.input {
   outline: none;
   border: 0;
   width: 75%;
   height: 1em;
   padding: 0.75em;
   border-radius: 0.5em;
   font-family: "book", Impact, 'Arial Narrow Bold', sans-serif;
}

.is-read > * {
   padding: 0.75em;
}
.is-read {
   display: flex;
   align-items: center;
}

.checkbox {
   width: 20px;
   height: 20px;
   margin-top: 4px;
   accent-color: white;
}

.submit-book {
   padding: 0.75em 2em;
   border-radius: 0.5em;
   background-color: lightgreen;
}


/* Footer */
footer {
   display: grid;
   background-color: var(--cream);
   justify-content: center;
   align-items: center;
}

footer .made-by {
   display: grid;
   grid-template-columns: 4fr 1fr 1fr;
   align-items: center;
   justify-items: center;
}

.made-by p {
   padding: 0 0.2em;
}

/* project-info */
.project-info {
   cursor: pointer;
   justify-self: center;
   margin: 0;
   padding: 1em 0 0.5em 0;
}

.project-info .summary-info {
   visibility: hidden;
   padding: 1em;
   position: absolute;
   background-color: lightblue;
   text-align: center;
   color: black;
   border-radius: 0.5em;
   z-index: 1;
   bottom: 10%;
   right: 22%;
}

.project-info:hover .summary-info {
   visibility: visible;
}

  /* github links */
.fa-github, .fa-code {
   color: #222222;
   font-size: 24px;
   transition: transform 0.4s ease-in-out;
   cursor: default;
}
  
.fa-github:hover{
   transform: rotate(360deg) scale(1.3);
}

.fa-code:hover {
   transform: scale(1.3);
}